/* You can add global styles to this file, and also import other style files */
#main{    
    background-image: url('../src/assets/images/fon.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}