 <body>
   <section>
     <div class="content">
       <div>
         <h2>Bobrov</h2>
         <p>Bobrov By My site super ddkssn</p>
         <a href="#">Lear More</a>
       </div>
     </div>
     <div>
       <div class="imgBx">
        <div class="cont container">
          <img src="../../assets/images/02.jpg">
          <img src="../../assets/images/02.jpg">
          <img src="../../assets/images/02.jpg">
          <img src="../../assets/images/02.jpg">
        </div>
        <!-- <img src="../../assets/images/plaer.png"> -->
       </div>
       <ul class="nav" id="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#" class="active">About</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Go</a></li>
       </ul>
     </div>   
   </section>
 </body>
    <main class="container">      
      <section class="card" data-aos="fade-left">
        <img src="https://i.ibb.co/3NHjDcW/paint-2.png" data-aos="zoom-in-down"  alt="" />
        <div>
          <h3>Acrylic Painting Two</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod error
            enim laudantium, animi veniam libero eveniet culpa unde perferendis
            illo fugit corporis, voluptatibus totam dolorum, maiores magnam
            officia. Ab, delectus.
          </p>
          <a href="#" class="btn">Buy Now</a>
        </div>
      </section>

      <section class="card" data-aos="fade-right">
        <img src="https://i.ibb.co/0VywMkW/paint-3.png" alt="" />
        <div>
          <h3>Acrylic Painting Three</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod error
            enim laudantium, animi veniam libero eveniet culpa unde perferendis
            illo fugit corporis, voluptatibus totam dolorum, maiores magnam
            officia. Ab, delectus.
          </p>
          <a href="#" class="btn">Buy Now</a>
        </div>
      </section>

      <section class="card" data-aos="fade-left">
        <img src="https://i.ibb.co/5LkJFRP/paint-4.png" alt="" />
        <div>
          <h3>Acrylic Painting Four</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod error
            enim laudantium, animi veniam libero eveniet culpa unde perferendis
            illo fugit corporis, voluptatibus totam dolorum, maiores magnam
            officia. Ab, delectus.
          </p>
          <a href="#" class="btn">Buy Now</a>
        </div>
      </section>

      <section class="card" data-aos="fade-right">
        <img src="https://i.ibb.co/61R8Q2y/paint-5.png" alt="" />
        <div>
          <h3>Acrylic Painting Five</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod error
            enim laudantium, animi veniam libero eveniet culpa unde perferendis
            illo fugit corporis, voluptatibus totam dolorum, maiores magnam
            officia. Ab, delectus.
          </p>
          <a href="#" class="btn">Buy Now</a>
        </div>
      </section>
    </main>   



  
<!-- <body>
  <div class="cont container">
    <img src="02.jpg">
    <img src="02.jpg" > 
    <img src="02.jpg" >
    <img src="02.jpg" >
  </div>
</body> -->



<!-- 
<body>  
  <section>
    <div id="bg"></div>
    <h2>2.5D Plixerd</h2>
    <img src="../../resours/img.png" class="girl">
  </section>
  <script type="text/javascript">
  var position = document.documentElement;
  position.addEventListener("mousemove",e=>{
    position.style.setProperty('--x',e.clientX + "px");
  });

  </script>
</body> -->

<!-- <a class="menuIcon" (click)="menuClick()">
  <svg class="hamburger" width="26.892" height="17.285" viewBox="0 0 26.892 17.285">
    <g id="MenuI" data-name="Group 1" transform="translate(0 1.5)">
      <line id="topLine" data-name="Line 1" x2="26.892" fill="none" stroke="#000" stroke-width="3"/>
      <line id="midLine" data-name="Line 1" x2="26.892" transform="translate(0 7.142)" fill="none" stroke="#000" stroke-width="3"/>
      <line id="botLine" data-name="Line 1" x2="26.892" transform="translate(0 14.285)" fill="none" stroke="#000" stroke-width="3"/>
    </g>
  </svg>
</a>
  
  <a href="https://greensock.com"><img class="gsap-3-logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-3-logo.svg" width="150" /></a>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Punny headline</h1>
      <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
      <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
  
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>
  
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div> -->


  <!-- <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="input-group">
          <label class="input-group-btn my-0">
                      <span class="btn btn-large btn-outline-primary rounded-0" id="browse">
                          Browse&hellip; 
                        <input #fileInput type="file" id="file_input" (change)="onFileSelected($event)">
                      </span>
                  </label>
          <button type="text" class="form-control rounded-0" type="button" (click)="fileInput.click()">Pick File</button>
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" (click)="onUpload()">Upload</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- <input style="display: none" #fileInput type="file" (change)="onFileSelected($event)">
    <button type="button" (click)="fileInput.click()">Pick File</button>
    <button type="button" (click)="onUpload()">Upload</button> -->

  
